:root {
	--background: oklch(0.1535 0.0119 260.39);
	--text: oklch(0.9668 0.0058 264.53);
	--primary: oklch(0.57 0.0817 263.26);
	--secondary: oklch(0.731 0.0641 297.29);
	--accent: oklch(0.6361 0.0958 307.87);
}
